<section class="course-finder">

  <div class="image-container">
    <figure id="image1" class="flush-top full-width">
      <img src="/static-files/images/banners/careers_banner_homepage_2.png" border="0" alt="career banner abstract shapes">
    </figure>
  </div>

  <div class="form">
      <h2><label for="course-search">Careers support and opportunities</label> </h2>

      <div class="input-group input-group-lg">
        <input id="careers-search" type="search" name="q" class="form-control" placeholder="Enter a topic, keyword, skill or profession">
        <span class="input-group-btn">
           {# <button class="btn btn-careers" type="submit">Search</button>  #}
         </span>
      </div>

</section>


<div class="row promo-tiles">
  <div class="col-md-3 col-sm-6 col-xs-6">
    <a class="image-link-block" href="gym">
      <img border="0" src="/static-files/images/banners/hear-from-students-small.png" alt="student at work" title="hear from other students">
    <div class="image-link-block-gradient-wrapper">
      <div class="image-link-block-text">
        <h2>CAREER JOURNEYS</h2>

        <p class="lead">Alumni stories <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> </p>

      </div>

    </div>

</a> </div>

  <div class="col-md-3 col-sm-6 col-xs-6"><a class="image-link-block" href="fitness-classes"><img border="0" src="/static-files/images/banners/face-face-small.png" alt="Man and woman in fitness gear laughing" title="Fitness classes to feel the movement">
    <div class="image-link-block-gradient-wrapper">
      <div class="image-link-block-text">
        <h2>FACE-TO-FACE SUPPORT</h2>

        <p class="lead">Tailored for you <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> </p>

      </div>

    </div>

</a> </div>

  <div class="col-md-3 col-sm-6 col-xs-6">

    <a class="image-link-block" href="swimming"> <img border="0" src="/static-files/images/banners/prospectus.png" alt="Person swimming in swimming pool" title="Crystal clear swimming in Coventry">
    <div class="image-link-block-gradient-wrapper">
      <div class="image-link-block-text">
        <h2>CAREERS GUIDE</h2>

        <p class="lead">PDF download <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> </p>

      </div>

    </div>

</a> </div>

  <div class="col-md-3 col-sm-6 col-xs-6"><a class="image-link-block" href="active"> <img border="0" src="/static-files/images/banners/jobsearch-small.png" alt="Person swinging a tennis racquet" title="Full range of sports and activities including tennis, climbing, pitch sports and more">
    <div class="image-link-block-gradient-wrapper">
      <div class="image-link-block-text">
        <h2>VACANCIES & EXPERIENCES</h2>

        <p class="lead">Curated for you <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> </p>

      </div>

    </div>

</a> </div>

</div>
